* {
  box-sizing: border-box;
}

/* Navbar */

nav .container .navbar-brand img {
  height: 40px;
}

/* Section Catalog Gambar */
#card-produk {
  padding-top: 55px;
}

#card-produk .container .row .col-sm-4 .card {
  color: black;
  text-decoration: none;
}

#card-produk .container .row .col-sm-4 .card {
  transition: 0.5s;
}

#card-produk .container .row .col-sm-4 .card:hover {
  transform: translateY(-8px);
}
